<!doctype html>
<head>
<title>Hello from Flask</title>

<script src= {{ url_for('static', filename = 'jquery-3.2.1.min.js')}}></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='slider.css') }}" />
<script src= {{ url_for('static', filename = 'slider.js')}}></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
<!--
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">TVA Modell</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">bli</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Version <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
	<li>
      <form class="navbar-form navbar-left">
        <button type="submit" class="btn btn-default">Save</button>
      </form>
</li>
      </ul>
    </div>
  </div>
</nav>
-->

<div class="range-slider">
  <input class="range-slider__range" type="range" value="100" min="0" max="500">
  <span class="range-slider__value">0</span>
</div>



            <div class="range-slider">
{% for i in range(2) %}
<p> <b>Hello {{i}}</b> </p>
  <input class="range-slider__range" id="hi" type="range" value="{{100+i*5}}" min="0" max="500" step="50"/>
  <span class="range-slider__value">0</span>
{% endfor %}
            </div>


    <div class="row">
        <div class="col-md-6">
            <div class="range-slider">
{% for i in range(20) %}
<p> <b>Hello {{i}}</b> </p>
  <input class="range-slider__range" id="hi" type="range" value="{{100+i*5}}" min="0" max="500" step="50">
  <!-- to get current value of slider: $('#hi')[0].value. not sure about [0]... -->
  <span class="range-slider__value">0</span>
{% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel affix">
{% if name %}
<div class="range-slider" data-slider>
  <span class="range-slider-handle" role="slider" tabindex="0"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
</div>
  <img src= {{ url_for('static', filename = 'sc_rev_analysis.svg') }} width="660" height="360" alt="previous" title="Previous" border="0">
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

            </div>
        </div>
    </div>
</body>

<script>
rangeSlider();
</script>
